
# Handling Imbalance Dataset

1. Up Sampling 
2. Down Sampling

In [6]:
import numpy as np
import pandas as pd 

## Set the random seed for reproducibility
np.random.seed(123)

## Create a dataframe with two clasess
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples * class_0_ratio)
n_class_1=n_samples - n_class_0

In [7]:
n_class_0,n_class_1

(900, 100)

In [8]:
## CREATE MY DATAFRAME WITH IMBLANCED DATASET

class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]* n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
     'target':[1]* n_class_1

})

In [9]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [10]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [11]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [12]:
## Upsampling 


df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [18]:
from sklearn.utils import resample
df_minority_unsampled=resample(df_minority,replace=True, # Sample with replacement
         n_samples=len(df_majority),
         random_state=42
         )

In [19]:
df_minority_unsampled.shape

(900, 3)

In [20]:
df_minority_unsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [23]:
df_unsampled=pd.concat([df_majority,df_minority_unsampled])
df_unsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

# Upsampling Minority

In [24]:
# Separate majority and minority
df_majority = df[df['target'] == 0]
df_minority = df[df['target'] == 1]

# Upsample minority
df_minority_upsampled = resample(df_minority,
                                 replace=True,            # sample with replacement
                                 n_samples=len(df_majority),  # match majority size
                                 random_state=42)

# Combine
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

print("\nAfter Upsampling:")
print(df_upsampled['target'].value_counts())

After Upsampling:
target
0    900
1    900
Name: count, dtype: int64

#  Downsampling Majority

In [25]:
# Downsample majority
df_majority_downsampled = resample(df_majority,
                                   replace=False,        # sample without replacement
                                   n_samples=len(df_minority), # match minority size
                                   random_state=42)

# Combine
df_downsampled = pd.concat([df_majority_downsampled, df_minority])

print("\nAfter Downsampling:")
print(df_downsampled['target'].value_counts())

After Downsampling:
target
0    100
1    100
Name: count, dtype: int64